USE [master]
GO
/****** Object:  Database [ToDoApp]    Script Date: 4/18/2016 4:38:32 PM ******/
CREATE DATABASE [ToDoApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoApp', FILENAME = N'C:\Users\epicodus_student\ToDoApp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDoApp_log', FILENAME = N'C:\Users\epicodus_student\ToDoApp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoApp]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/18/2016 4:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 4/18/2016 4:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Done] [bit] NOT NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (1, N'Home')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'Work')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (3, N'Personal')
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [Description], [Done], [CategoryId]) VALUES (1, N'Learn C#', 0, 1)
INSERT [dbo].[Items] ([ItemId], [Description], [Done], [CategoryId]) VALUES (2, N'Learn .NET', 0, 1)
INSERT [dbo].[Items] ([ItemId], [Description], [Done], [CategoryId]) VALUES (3, N'Conquer the internet', 0, 2)
SET IDENTITY_INSERT [dbo].[Items] OFF
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF__Items__Done__117F9D94]  DEFAULT ((0)) FOR [Done]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categories]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Items]
GO
USE [master]
GO
